<div class="main-container" style="{{ bg_img ? 'background: url(assets/image/background/onsen.jpg);' : 'background: url(assets/images/background/onsen.jpg);' }}">
  <!---->
  <canvas id="audioVisualizer" audio-visualizer="tracks" ng-model="tracks.songs[tracks.active]" width="1024" height="300"></canvas>
  <!---->     
	<div class="containers" ng-controller="DashboardController">
		<div class="rows">
			<div class="col-xs-12 _uborder fadeIn">
				<h2>Achievement</h2>
				<div class="col-xs-12">		
				</div>	
				<a href="#/dashboard" class="btn btn-info">Back</a>
			</div>
		</div>	
	</div>
</div>
<script>
	
</script>			