<style>
	.img_100{width:100%;height:100%;}
	.boardbackground{position:absolute;}
	
	.topplayer{
		position:absolute;  
		  z-index: 1;
		  top: 6.777777%;
		  left: 1%;
		  width: 27%;
		  height: 16.999999%;
		background:rgba(202, 81, 81, 0.1);
	}
	
	.bottomplayer{
		position:absolute;  
		z-index: 1;
		  top: 75%;
		  left: 1%;
		  width: 27%;
		  height: 17%;
		background:rgba(202, 81, 81, 0.1);
	}
	
	.character_animate{
		position:absolute;  
		z-index: 1;
		 bottom:0;
		 right:0;
	}
	.hidden{display:none;}
</style>
<audio autoplay loop>
  <source src="assets/soundtracks/srw_flawless_moon/audio.ogg" type="audio/ogg">-->
</audio>
<div class="main-container" style="{{ bg_img ? 'background: url(assets/image/background/onsen.jpg);' : 'background: url(assets/images/background/onsen.jpg);' }}">
  <img class="img_100 boardbackground" src="assets/images/misc/boards.png"/>
  <div class="topplayer">P1</div>	
  <div class="bottomplayer">
	P2 
	<a href="#/dashboard" class="btn btn-danger">Surrender</a>
	<a class="btn btn-danger animates">Animate</a>
  </div>	
	<div class="containers board" ng-controller="DashboardController"></div> <!--dont ever touch it-->
	
	
		<img class="character_animate hidden" src="assets/images/character/reimu.png"/>
		
</div>
<script>
	$( ".animates" ).click(function() {
		$( ".character_animate" ).attr("class","character_animate animated slideInLeft");
		setTimeout(function(){ 
			$( ".character_animate" ).attr("class","character_animate animated fadeOut");
			//$( ".character_animate" ).fadeOut();
		}, 1500);
		
	});
</script>			