<div class="main-container" style="{{ bgm ? 'background: url(assets/soundtracks/'+'/poster.jpg);' : 'background: url(assets/soundtracks/broken_moon/poster.jpg);' }}">
  <!---->
  <canvas audio-visualizer ng-model="bgm" width="1024" height="300"></canvas>
  <!---->     
	<div class="container" ng-controller="HomeController">
	  <div class="menus">
		<ul class="main-menu">
		  <li><a href="#/dashboard">New Game</a></li>
		  <li><a href="#">Load Game</a></li>
		  <li><a href="#">Options</a></li>
		  <li><a href="#">Credit</a></li>
		  <li><a href="#/intro">Intro</a></li>
		  <li><a href="#" ng-click="ExitGame()">Exit Game</a></li>
		</ul>
	  </div>
	</div>
	 
</div>
<audio autoplay loop>
  <source src="assets/soundtracks/broken_moon/broken_moon_vocal.ogg" type="audio/ogg">
</audio>
<script>

$(function() {
   		
	$( "a" ).click(function() {
		var snd = new Audio("assets/s_effect/poi.ogg"); // buffers automatically when created
		snd.play();
	});
	
}); 
</script>