
<div class="main-container" style="{{ bg_img ? 'background: url(assets/image/background/onsen.jpg);' : 'background: url(assets/images/background/onsen.jpg);' }}">
  <!---->
  <canvas id="audioVisualizer" audio-visualizer="tracks" ng-model="tracks.songs[tracks.active]" width="1024" height="300"></canvas>
  <!---->     
	<div class="containers" ng-controller="DashboardController">
		<div class="rows">
			<div class="col-xs-12 ">
				<div class="col-xs-4 fadeIn">
					<div class="col-xs-12 _uborder fadeIn">
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
						dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
						
					</div>
				</div>
				<div class="col-xs-4 fadeIn">
					<div class="col-xs-12 _uborder">					
						Change Profile <br>
						IP/Network Setting
					</div>
				</div>
				<div class="col-xs-4 fadeIn">
					<div class="col-xs-12 _uborder">					
						
						Sound effect <br>
						_____________________<br><br>
						
						BGM <br>
						_____________________<br><br>
						
						Brightness <br>
						_____________________<br><br>
						
						Contrast <br>
						_____________________<br><br>
						
						<br><br><br>
						<a href="" class="btn btn-info">Credit</a>
						<a href="" class="btn btn-info">Intro</a>
						<a href="#/" class="btn btn-info">Back</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<script>

</script>

